
body{
  margin: 30px;
}


.id-card-box {
  display: flex;
  margin-top: 20px; 
  
  border: 1px solid black;
  border-radius: 4px;
  padding: 15px;
  width: 70%;
}

.id-card img {
  width: 150px;
  margin: 20px;
}

.id-card-text{
  margin: 20px 30px;
}

h1{
  color: #61dafb;
  margin-top:40px;
}

.greetings-box {
  font-size: 20px;

  border: 1px solid black;
  border-radius: 4px;
  width: 70%;

  margin: 10px;
  padding: 10px
}



